# Ignore virtual environments
venv/

# Ignore data directory
data/

# Ignore local MLOps tabular folder
mlops-tabular/

# Ignore tab-completion / cache files
.pytest_cache/
__pycache__/

# Ignore tab-completion / cache files
.pytest_cache/
__pycache__/
.claude/
mlruns/